<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static',
        filename='css/bootstrap.min.css') }}">
        <title>T4 PSO</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <br><br><br><br><br>
        <footer class="page-footer font-small indigo">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/cadastro">Cadastro</a>
                            </li>
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static',
    filename='js/bootstrap.min.js') }}">
    </script>
</html>